# Style is similar to Linux Kernel
# https://www.kernel.org/doc/Documentation/CodingStyle
BasedOnStyle: LLVM
IndentWidth: 8
UseTab: Always
AlignAfterOpenBracket: Align
BreakBeforeBraces: Linux
BreakBeforeBinaryOperators: None
ColumnLimit: 80
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
IndentGotoLabels: false
RemoveBracesLLVM: true
SortIncludes: false
SpaceBeforeParens: ControlStatements
TabWidth: 8
