/build
/doc/build
/doc/guides/_static
/doc/guides/_templates
/.auto.deps
/.config.cmd
/.config.old
/..config.tmp
/.config
*.depend
*.o
*.a
*.d
*.so
/*.patch
/*.diff
*.orig
*.rej
*.bak
*~
,*
\#*\#
.\#*
\#_*\#
.\#_*
*.pyc
!.gitignore
.*
!.github/

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

# cscope files
cscope.*
ncscope.*
support/scripts/uk_trace/uk_trace.egg-info/
