/build
/doc/build
/.auto.deps
/.config.cmd
/.config.old
/..config.tmp
/.config
*.depend
*.o
*.a
*.d
*.so
/*.patch
/*.diff
*.orig
*.rej
*.bak
*~
,*
\#*\#
.\#*
\#_*\#
.\#_*
*.pyc
!.gitignore
.*

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

# cscope files
cscope.*
ncscope.*
